#skm {
    background-color: tan;
}
.search {
    height: 100%;
    width: 38vw;
    display: flex;
    flex-direction: column;
    position: fixed;
}
.btn {
    margin-top: 6%;
    margin-left: 6%;
    width: 24vw;
}
.btn button {
    background-color:#008080; 
    border: 1px solid #008080; 
    color: black; 
    cursor: pointer; 
    float: left; 
    height: 3.4vw;
    width: 24vw;
    font-size: 2.1vw;
}

.searchbar {
    height: 7vw;
    width: 24vw;
    margin-top: 6%;
    margin-left: 6%;
    font-size:1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.date-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 7vw;
}

.date-search {
    width: 19.7vw;
    height: 1.2vw;
    font-size: 0.9vw;
}

.search-hashtags {
    width: 19.7vw;
    height: 1vw;
    font-size: 0.9vw;
}

.author-select {
    width: 19.9vw;
    height: 1.4vw;
    font-size: 0.9vw;
}

.submit {
    height: 1.4vw;
    font-size: 0.9vw;
    width: 3.8vw;
}


.hashtagtable {
    width: 18vw;
    height: 18vw;
    margin-top: 6%;
    margin-left: 6%;
    display: flex;
    flex-flow: column wrap;
    font-family:"Hashtag";
    font-size: 4.5vw;
}

.toptag {
    color: rgb(43,72,162);
}

.footer {
    width: 25vw;
    height: 5vw;
    margin-top: 6%;
    margin-left: 6%; 
    font-size: 1.1vw;
}