html,
body, 
#root {
  height: 100%;
  background-color: rgb(241, 241, 239);
  overflow: auto;
}

body {
  margin: 0;
}

@font-face {
  font-family: "Billabong"; 
  src: url("file:///E:/photogramExadelUP/UI/fonts/Billabong.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
  } 

@font-face {
  font-family: "Hashtag"; 
  src: url("file:///E:/photogramExadelUP/UI/fonts/Hashtag.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
  } 
  
